---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^tests/.*/__snapshots__/.*.ambr$'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^tests/testdata/cluster8/apps/.*\.yaml|tests/testdata/cluster/apps/prod/.*\.yaml|tests/testdata/.*/gotk-sync\.yaml$'
        args:
          - --allow-multiple-documents
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        types_or:
          - python
          - pyi
        args:
          - --fix
          - --exit-non-zero-on-fix
      - id: ruff-format
        types_or:
          - python
          - pyi
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: script/run-mypy.sh
        language: script
        types: [python]
        require_serial: true
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args:
          - --strict
          - -c
          - ".yaml-lint.yaml"
