---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/tool/testdata/.*\.yaml$'
  - id: end-of-file-fixer
    exclude: '^tests/tool/testdata/.*\.yaml$'
  - id: check-yaml
    args:
    - --allow-multiple-documents
  - id: check-added-large-files
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
  - id: codespell
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.0.290'
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.32.0
  hooks:
  - id: yamllint
    exclude: '^tests/tool/testdata/.*\.yaml$'
    args:
    - -c
    - ".yaml-lint.yaml"
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
  - id: black
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: script/run-in-env.sh mypy
    language: script
    types: [python]
    require_serial: true
    files: ^(flux_local/|tests/)
