-e .
coverage==7.14.1
mypy==2.1.0
pdoc==16.0.0
pip==26.1.1
pre-commit==4.6.0
pytest-cov==7.1.0
pytest==8.4.2
ruff==0.15.15


aiofiles==25.1.0
GitPython==3.1.50
mashumaro==3.22
pytest-asyncio==1.4.0
python-slugify>=8.0.1
PyYAML==6.0.3
types-aiofiles==25.1.0.20260518
types-PyYAML==6.0.12.20260518
typing-extensions==4.15.0
types-python-slugify==8.0.2.20240310
yamllint==1.38.0
syrupy==5.2.0
oras==0.2.42
