-e .
aiofiles==23.1.0
black==23.7.0
coverage==7.2.7
GitPython==3.1.32
mypy==1.4.1
nest_asyncio==1.5.6
pdoc==14.0.0
pip==23.2
pre-commit==3.3.3
pydantic==2.0.3
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-golden==0.2.2
python-slugify==8.0.1
PyYAML==6.0.1
ruff==0.0.278
types-aiofiles==23.1.0.4
types-PyYAML==6.0.12.11
typing-extensions==4.7.1
types-python-slugify==8.0.0.2
wheel==0.40.0
yamllint==1.32.0
