-e .
aiofiles==23.1.0
black==23.1.0
coverage==7.1.0
GitPython==3.1.31
mypy==1.0.1
nest_asyncio==1.5.6
networkx==3.0
pdoc==13.0.0
pip==23.0.1
pre-commit==3.0.4
pydantic==1.10.5
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest-golden==0.2.2
python-slugify==8.0.1
PyYAML==6.0
ruff==0.0.253
types-aiofiles==22.1.0.9
types-PyYAML==6.0.12.8
typing-extensions==4.5.0
types-python-slugify==8.0.0.0
wheel==0.38.4
yamllint==1.29.0
