-e .
black==25.1.0
coverage==7.10.2
mypy==1.17.1
pdoc==15.0.4
pip==25.2
pre-commit==4.2.0
pytest-cov==6.2.1
pytest==8.4.1
ruff==0.12.7


aiofiles==24.1.0
GitPython==3.1.45
mashumaro==3.16
nest_asyncio==1.6.0
pytest-asyncio==1.1.0
python-slugify>=8.0.1
PyYAML==6.0.2
types-aiofiles==24.1.0.20250809
types-PyYAML==6.0.12.20250516
typing-extensions==4.14.1
types-python-slugify==8.0.2.20240310
yamllint==1.37.1
syrupy==4.9.1
oras==0.2.37
