-e .
black==24.10.0
coverage==7.6.4
mypy==1.13.0
pdoc==15.0.0
pip==24.3.1
pre-commit==4.0.1
pytest-cov==6.0.0
pytest==8.3.3
ruff==0.7.3


aiofiles==24.1.0
GitPython==3.1.43
mashumaro==3.14
nest_asyncio==1.6.0
pytest-asyncio==0.24.0
python-slugify==8.0.4
PyYAML==6.0.2
types-aiofiles==24.1.0.20240626
types-PyYAML==6.0.12.20240917
typing-extensions==4.12.2
types-python-slugify==8.0.2.20240310
yamllint==1.35.1
syrupy==4.7.2
