-e .
aiofiles==23.1.0
black==23.3.0
coverage==7.2.7
GitPython==3.1.31
mypy==1.3.0
nest_asyncio==1.5.6
networkx==3.1
pdoc==13.1.1
pip==23.1.2
pre-commit==3.3.2
pydantic==1.10.8
pytest==7.3.1
pytest-asyncio==0.21.0
pytest-cov==4.1.0
pytest-golden==0.2.2
python-slugify==8.0.1
PyYAML==6.0
ruff==0.0.270
types-aiofiles==23.1.0.3
types-PyYAML==6.0.12.10
typing-extensions==4.6.3
types-python-slugify==8.0.0.2
wheel==0.40.0
yamllint==1.32.0
