---
name: flux-local test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster_path:
        - tests/testdata/cluster
        - tests/testdata/cluster2
        - tests/testdata/cluster3
        - tests/testdata/cluster5
        - tests/testdata/cluster6
    steps:
    - uses: actions/checkout@v3
    - uses: ./action/test
      with:
        enable-helm: true
        enable-kyverno: false
        sources: cluster=tests/testdata/cluster3
        path: ${{ matrix.cluster_path }}
        api-versions: batch/v1/CronJob
