---
name: flux-local test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster_path:
        - tests/testdata/cluster
        - tests/testdata/cluster2
        - tests/testdata/cluster3
        - tests/testdata/cluster5
        - tests/testdata/cluster4
        - tests/testdata/cluster6
        - tests/testdata/cluster7
    steps:
    - uses: actions/checkout@v5
    - name: Setup Flux CLI
      uses: fluxcd/flux2/action@v2.7.2
    - uses: ./action/test
      with:
        enable-helm: true
        sources: cluster=tests/testdata/cluster3,flux-system,home-ops-kubernetes
        path: ${{ matrix.cluster_path }}
        api-versions: batch/v1/CronJob
        debug: true
