---
name: flux-local diff

on:
  push:
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  diffs:
    name: Compute diffs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cluster_path:
        - tests/testdata/cluster
        - tests/testdata/cluster2
        - tests/testdata/cluster3
        - tests/testdata/cluster4
        - tests/testdata/cluster5
        - tests/testdata/cluster6
        - tests/testdata/cluster7
        resource:
        - helmrelease
        - kustomization
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Flux CLI
      uses: fluxcd/flux2/action@v2.2.2
    - uses: ./action/diff
      id: diff
      with:
        path: ${{ matrix.cluster_path }}
        resource: ${{ matrix.resource }}
        debug: true
        sources: cluster=tests/testdata/cluster3,flux-system,home-ops-kubernetes
        api-versions: batch/v1/CronJob
    - name: PR Comments
      uses: mshick/add-pr-comment@v2
      if: ${{ steps.diff.outputs.diff != '' }}
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        message-id: ${{ github.event.pull_request.number }}/${{ matrix.cluster_path }}/${{ matrix.resource }}
        message-failure: Unable to post kustomization diff
        message: |
          `````diff
          ${{ steps.diff.outputs.diff }}
          `````
