---
name: Python package

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.10"
        - "3.11"
        pydantic-install:
        - "echo"
        - "pip3 install pydantic==1.10.11"

    steps:
    - uses: actions/checkout@v4
    - name: Setup Flux CLI
      uses: fluxcd/flux2/action@v2.2.1
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install extra packages
      run: |
        ${{ matrix.pydantic-install }}
    - uses: supplypike/setup-bin@v3
      with:
        uri: https://github.com/kyverno/kyverno/releases/download/v1.9.0/kyverno-cli_v1.9.0_linux_x86_64.tar.gz
        name: kyverno-cli
        version: v1.9.0
    - name: Test with pytest
      run: |
        SKIP_DIFF_TESTS=1 pytest --cov=flux_local --cov-report=term-missing --snapshot-warn-unused
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        verbose: true
    - name: Test flux-local diff
      run: |
        pytest tests/tool/test_diff.py
